# 8443 쓰고 싶으면 바꾸세요
spring:
  config:
    import: "optional:classpath:application-secret.yml,optional:file:./application-secret.yml"
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/guardian?createDatabaseIfNotExist=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
jwt:
  secret: ${JWT_SECRET:change-me}
  access-token-validity: 1800
  refresh-token-validity: 1209600
logging:
  level:
    root: INFO
    com.guardian.guardian: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
server:
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
  forward-headers-strategy: framework
