server:
  port: 8081
spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
  output:
    ansi:
      enabled: always
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:guardian_dev;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      settings:
        web-allow-others: true
custom:
  fileDirPath: /usr/file

webpush:
  vapid:
    public-key: "BBYI8uB4QjU8uB0SaKnqpEKsqPYV80d5_dmuhzKzzYi8daE8tJi1-cV5SywwzgsgN9Ti5vcbR3uSBkEjy3YvyMo"
    private-key: "Aiwoalc4GXseoWGsOfSSqwDiuFtITXp2kDCSRq1HAWo"
    subject: "mailto:dev@guardian.local"
  scheduler:
    timezone: "Asia/Seoul"
