# 8443 쓰고 싶으면 바꾸세요
spring:
  profiles:
    active: dev
    include: secret
  datasource:
    url: jdbc:mariadb://127.0.0.1:3306/guardian
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
jwt:
  secret: ${JWT_SECRET:change-me}
  access-token-validity: 1800
  refresh-token-validity: 1209600
logging:
  level:
    root: INFO
    com.guardian.guardian: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
server:
  servlet:
    session:
      cookie:
        same-site: none
        secure: true
  forward-headers-strategy: framework
