name: Deploy Backend

on:
  push:
    branches: [ "sh4" ]

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build backend
        run: |
          chmod +x gradlew
          ./gradlew clean bootJar

          echo "==== build/libs 내용 ===="
          ls -l build/libs

      - name: Upload jar to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST2 }}
          username: ${{ secrets.EC2_USER2 }}
          key: ${{ secrets.EC2_SSH_KEY2 }}
          source: "build/libs/*.jar"        # ❗ 모든 jar 업로드
          target: "/home/ec2-user/app/backend"

      - name: Restart backend service
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST2 }}
          username: ${{ secrets.EC2_USER2 }}
          key: ${{ secrets.EC2_SSH_KEY2 }}
          script: |
            sudo systemctl daemon-reload
            sudo systemctl restart guardian-backend
            sudo systemctl status guardian-backend --no-pager -l
